.navbar {
  background-color: rgb(26, 21, 21);
  height: 100px; /* Adjust height if needed */
  font-size: 20px;
  margin-bottom: 0; /* Remove bottom margin */
  padding-bottom: 0; /* Remove bottom padding */
  display: flex;
  align-items: center;
  padding: 0 2em; /* Adjust horizontal padding to control navbar content position */
}

.navbar-logo {
  height: 5rem; /* Adjust height if needed */
  width: 5rem; /* Adjust width if needed */
  margin-right: auto; /* Push logo to the left */
}

.site-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: #cf3f3f;
  margin-left: 2em; /* Adjust margin as needed */
}

.text-container {
  margin: 1em; /* Adjust margin if needed */
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center; /* Vertically align items within the navbar */
  gap: 15px; /* Reduce gap between items */
  margin: 0; /* Remove margin to reduce space around the list */
  padding: 0; /* Remove padding to reduce space around the list */
  margin-left: auto; /* Push nav items to the right */
}

nav a {
  color: white;
  text-decoration: none;
}

.nav-list a:hover {
  color: #cf3f3f;
  text-decoration: none;
}
